.header{
    width: 900px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
}
.footer{
    width: 900px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
}
.link{
    width: 900px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
}
.tekst{
    width: 900px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
}
.Form{
    width: 900px;
    padding: 10px 10px 10px 10px;
    font-size: 14px;
    text-align: center;
    border-style: solid;
}
.blok1{
    background-color: aqua;
    height: 300px;
    width: 300px;
    border-style: solid;
}
.blok2{
    background-color: aquamarine;
    height: 300px;
    width: 300px;
    left: 150px;
    margin-top: 10px;
    margin-left: 150px;
    border-style: solid;
}
.blok3{
    background-color: burlywood;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 300px;
    border-style: solid;
}
.blok4{
    background-color: bisque;
    height: 606px;
    width: 430px;
    margin-top: 10px;
    margin-left: 150px;
    float: right;
    border-style: solid;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }